table {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    margin: 0 auto;
    
    font-family: monospace;
    font-size: 44px;
    text-align: center;
}

table td {
    width: 50px;
    height: 50px;

    border: 1px solid lightgrey;
    cursor: pointer;
}

h1 {
    font-family: monospace;
    text-align: center;
    font-size: 42px;
    font-weight: lighter;
}